* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2%;
  background-color: rgb(222, 224, 195);
}
.container {
  background-color: aliceblue;
  padding: 30px;
  border-radius: 10px;
}
.header {
  background-color: #8d5e44;
  padding: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header input {
  font-weight: bolder;
  background-color: #70e770;
  font-size: 1rem;
  border-radius: 10px;
  padding: 5%;
  border: none;
}

.header h1 {
  padding: 25px;
  background-color: rgb(214, 104, 84);
  font-size: 2rem;
  border-radius: 10px;
}

.header img {
  width: 10%;
  background-color: black;
  border-radius: 20%;
  max-width: 100%;
}
.title-catalog {
  font-size: 1rem;
  text-align: center;
}
.catalog {
  display: flex;
  flex-wrap: wrap;
  margin: 1%;
  width: 100%;
}
.products {
  margin: 25px;
  background-color: #d09c3c;
  text-align: center;
  padding-bottom: 10px;
  width: 30%;
  margin-left: 25px;
  border-radius: 10px;
}
.desc-product {
  font-size: 1.2rem;
}
.desc-product span {
  margin-top: 30px;
  margin-left: 90px;
  text-align: center;
  max-width: 50%;
  display: block;
  background-color: rgb(255, 251, 0);
  padding: 10px;
  border-radius: 10px;
}
.products img {
  margin: 10px auto;
  width: 80%;
  max-width: 100%;
  height: 200px;
  border-radius: 3%;
}
footer {
  font-size: 1rem;
  text-align: center;
  width: 100%;
  margin-top: 3%;
}
@media screen and (max-width: 600px) {
  .header {
    margin-top: 0%;
  }
  .catalog {
    margin: 0%;
    margin-top: 0%;
  }
  .products {
    width: 100%;
    margin-top: 3%;
    border-radius: 5%;
    margin-left: 5px;
  }
  .header img {
    width: 7%;
  }
  .desc-product span {
    margin-left: 60px;
  }
}
